.about {
  position: relative;
  padding: 100px 0 100px;

  &__inner {
    padding: 0 120px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;

    color: #767070;

    margin-bottom: 30px;
  }

  &__background {
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: -1;
  }

  &__image {
    display: block;
    max-width: 470px;
    height: auto;
  }
}

@media screen and (max-width: 1850px) {
  .about {
    &__background {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  // .about {
  //   // &__text {
  //   //   font-size: 18px;
  //   // }
  // }
}

@media screen and (max-width: 768px) {
  .about {
    &__inner {
      padding: 0 20px;
    }
  }
}
