.advantages {
  background-color: #F4F4F4;
  box-shadow: 0 -4px 20px rgba($color: #000000, $alpha: .25), 0 4px 20px rgba($color: #000000, $alpha: .25);
  padding-top: 100px;
  
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: 30px;
  }

  &__item {
    width: 33.33333%;
    text-align: center;
    padding-bottom: 140px;
  }

  &__icon {
    margin: 0 auto 20px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;

    color: #767070;

    vertical-align: middle;
  }
}