.clients {
  background-color: #c08283;

  &__title {
    padding-top: 67px;
    color: #f4f4f4;
  }

  &__title::after {
    background-color: #f4f4f4;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 87px;
  }

  &__wrapper-img {
    height: 50px;
    width: auto;
  }
}

@media screen and (max-width: 1068px) {
  .clients {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }
}
