.footer {
  &__content {
    background-color: #f4f4f4;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    padding: 60px 45px;
  }

  &__info {
    width: 50%;
    // display: flex;
    // justify-content: space-between;
    // flex-direction: column;
  }

  &__title {
    margin-bottom: 20px;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #4e4e56;
  }

  &__address {
    margin-bottom: 20px;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #767070;

    i {
      color: #4e4e56;
    }
  }

  &__email {
    margin-bottom: 20px;
  }

  &__link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: #767070;
  }

  &__link--dark {
    color: #4e4e56;
  }

  &__copyright {
    padding: 20px;

    text-align: center;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #f4f4f4;

    background-color: #4e4e56;
  }

  &__social {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: #767070;
  }

  &__social-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }

  &__menu {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: #767070;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }

  i {
    font-size: 1rem;

    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

.subscribe {
  width: 100%;
  max-width: 540px;

  display: flex;

  &__input {
    max-width: 370px;
    width: 100%;
    height: 40px;
    padding: 6px 20px;

    color: #4e4e56;
    background-color: #f4f4f4;
    border: 1px solid #767070;
    border-radius: 20px;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;

    margin-right: 10px;
  }

  &__input::placeholder {
    color: #767070;
  }

  &__input:focus {
    outline: 0;
    border-color: #4e4e56;
  }

  &__button {
    max-width: 160px;
    width: 100%;
    height: 40px;
    padding: 6px auto;

    color: #f4f4f4;
    background-color: #4e4e56;

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;

    border: 0;
    border-radius: 20px;
    cursor: pointer;

    transition: background 0.2s linear;
  }

  &__button:hover {
    background-color: #767070;
  }

  &__button:focus {
    outline: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &__inner {
      flex-direction: column;
      align-items: center;
      padding: 0;
      //   padding: 40px 25px;
    }

    &__info {
      width: 100%;
      padding: 20px 20px;
    }

    &__social {
      width: 100%;
      padding: 20px 20px;
    }

    &__social-list {
      flex-direction: row;
      justify-content: space-between;
    }
    &__menu {
      display: none;
    }
  }
}

@media screen and (max-width: 425px) {
  .footer {
    &__link {
      font-size: 0;
    }

    &__link i {
      font-size: 20px;
    }

    &__link--dark {
      font-size: 0.85rem;
    }

    &__social-list {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .subscribe {
    flex-direction: column;
    align-items: center;

    &__input {
      margin-bottom: 20px;
    }
  }
}
