.menu {
  // padding-right: 15px;
  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__list-item {
    width: 200px;
    padding: 0 15px 0 15px;
    text-align: center;
  }
  &__list-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #f4f4f4;
    line-height: 22px;
  }
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;

  background-color: #c08283;
  &__inner {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.logo img {
  width: 48px;
  height: 48px;

  max-width: 128px;
  max-height: 128px;
}

@media screen and (max-width: 1200px) {
  .menu {
    &__list-item {
      width: 120px;
      padding: 0 10px 0 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .menu {
    &__list-item {
      width: 120px;
      padding: 0 10px 0 10px;
    }
  }
}
