.intro {
  background: linear-gradient(rgba(41, 41, 41, 0.4), rgba(41, 41, 41, 0.4)),
    url("/assets/images/background.png") center no-repeat;

  background-size: cover;
  height: 93vh;
  padding-bottom: 100px;
  margin-top: 70px;

  &__title {
    text-align: center;
    padding-top: 25%;
  }
  &__title-suptitle {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #ebeaea;
    padding-bottom: 30px;
  }
  &__title-band {
    margin: 0 auto;
    border-radius: 15px;
    background-color: #ebeaea;
    height: 7px;
    max-width: 1100px;
    margin-bottom: 20px;
  }
  &__title-subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ebeaea;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.arrow-down {
  width: 30px;
}

@media screen and (max-width: 1200px) {
  .intro {
    &__title-suptitle {
      font-size: 3.75rem;
    }
    &__title-band {
      margin: 0 auto;
      border-radius: 0.9375rem;
      background-color: #ebeaea;
      height: 5px;
      max-width: 900px;
      margin-bottom: 20px;
    }
    &__title-subtitle {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .intro {
    &__title-suptitle {
      font-size: 2.5rem;
    }
    &__title-subtitle {
      font-size: 1rem;
    }
  }
}
