.intro {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/background.png") center no-repeat;

  background-size: cover;
  height: 100vh;
  padding-bottom: 100px;
  //   display: flex;
  //   align-items: center;
  &__title {
    // margin: 0 auto;
    text-align: center;
    padding-top: 25%;
  }
  &__title-suptitle {
    font-size: 72px;
    color: #f4f4f4;
    padding-bottom: 30px;
  }
  &__title-band {
    margin: 0 auto;
    border-radius: 15px;
    background-color: #f4f4f4;
    height: 7px;
    width: 1100px;
    margin-bottom: 20px;
  }
  &__title-subtitle {
    font-size: 20px;
    color: #f4f4f4;
  }
}

.arrow-down {
  position: absolute;
  bottom: 2%;
  right: 50%;
}
