.partners {
  background: linear-gradient(
    270deg,
    #dcd0c0 0%,
    rgba(220, 208, 192, 0) 50.19%,
    rgba(220, 208, 192, 0) 81.04%,
    #dcd0c0 100%
  );

  &__inner {
    display: flex;
  }

  &__image {
    max-width: 600px;
    height: auto;
  }

  &__info {
    min-width: 50%;
    padding: 45px 0 45px 30px;

    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 36px;
    text-align: start;
  }

  &__title::after {
    margin: 10px 0 20px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;

    color: #767070;

    margin-bottom: 20px;
  }

  &__more {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #c08283;
    margin-top: auto;

    text-align: end;
  }
}

@media screen and (max-width: 1200px) {
  .partners {
    background: linear-gradient(
      270deg,
      #dcd0c0 0%,
      rgba(220, 208, 192, 0) 50.19%,
      rgba(220, 208, 192, 0) 81.04%,
      #dcd0c0 100%
    );

    &__image {
      width: 500px;
      height: auto;
      // padding: 20px 0;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__inner {
      flex-wrap: wrap;
      // align-items: center;
      justify-content: center;
    }

    &__info {
      max-width: 540px;
      padding: 20px;
    }
  }
}

@media screen and (max-width: 1068px) {
  .partners {
    padding-top: 20px;
    background: linear-gradient(
      270deg,
      #dcd0c0 10%,
      rgba(220, 208, 192, 0) 50%,
      rgba(220, 208, 192, 0) 50%,
      #dcd0c0 100%
    );

    &__more {
      text-align: center;
    }
  }
}
