.reviews {
  padding-top: 100px;
  padding-bottom: 150px;

  &__item {
    // max-width: 360px;
    // height: 442px;
    padding: 0 21px 0 21px;
  }

  &__inner {
    background-color: #f4f4f4;
    height: 400px;
    padding: 20px;
    margin-bottom: 15px;
  }

  &__quotes {
    padding-bottom: 40px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #4e4e56;
    // padding-bottom: 50px;
  }

  &__autor {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #4e4e56;
  }

  &__span {
    color: #c08283;
  }
}

.slick-slider {
  padding: 0 60px;
}

.slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 1;

  transform: translateY(-40%);

  display: block;
  font-size: 0;
  color: transparent;

  border: 0;
  background: none;

  cursor: pointer;
}

.slick-arrow:focus {
  outline: 0;
}

.slick-arrow::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #373737;
  border-left: 2px solid #373737;
}
.slick-prev {
  left: 20px;
  transform: rotate(-45deg);
}

.slick-next {
  right: 20px;
  transform: rotate(135deg);
}

.slick-dots {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);

  li {
    display: inline-block;
    margin: 0 5px;
  }

  button {
    padding: 0;
    border: none;
    background-color: #aaa;
    cursor: pointer;

    border-radius: 50%;
    width: 8px;
    height: 8px;
    font-size: 0;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.slick-active {
  button {
    background-color: #c08283;
  }
}

// .slick-dots li button:before {
//   font-family: 'slick';
//    font-size: 6px;
//    line-height: 20px;
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 20px;
//    height: 20px;
//    content: '•'; /* <-- Вот этот символ */
//    text-align: center;
//    opacity: .25;
//    color: black;
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
//  }

@media screen and (max-width: 768px) {
  .reviews {
    &__inner {
      height: 300px;
    }
  }
}

@media screen and (max-width: 500px) {
  .reviews {
    &__item {
      // max-width: 360px;
      // height: 442px;
      padding: 0;
    }
  }

  .slick-slider {
    padding: 0 10px;
  }
}
