@import "global";
@import "reset";
@import "vars";

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #c08283;
  &__inner {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
  &__list {
    display: flex;
  }
  &__list-item {
    // padding-right: 45px;
    padding-left: 60px;
  }
  &__list-link {
    @extend %title-font;
    color: #f4f4f4;
    line-height: 22px;
  }
}

.intro {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/background.png) center no-repeat;

  background-size: cover;
  height: 100vh;
  //   display: flex;
  //   align-items: center;
  &__title {
    // margin: 0 auto;
    text-align: center;
    padding-top: 25%;
  }
  &__title-suptitle {
    font-size: 72px;
    color: #f4f4f4;
    padding-bottom: 30px;
  }
  &__title-band {
    margin: 0 auto;
    border-radius: 15px;
    background-color: #f4f4f4;
    height: 7px;
    width: 1100px;
    margin-bottom: 20px;
  }
  &__title-subtitle {
    font-size: 20px;
    color: #f4f4f4;
  }
}

.arrow-down {
  position: absolute;
  bottom: 2%;
  right: 50%;
}

.section {
  padding: 100px 0;
  position: relative;

  &__header {
    text-align: center;
  }

  &__title {
    line-height: 1.6;
  }

  &__title::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    margin: 10px auto 70px;

    background-color: #4E4E56;
    border-radius: 8px;
  }

  &__background {
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: -1;
  }

  &__image {
    display: block;
    max-width: 470px;
    height: auto;
  }
}

.about {
  padding: 0 120px;

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;

    color: #767070;

    margin-bottom: 30px;
  }
}