<section class="advantages">
  <div class="container">
    <h2 class="advantages__title title">Основные преимущества работы с нами</h2>
    <div class="advantages__inner">
        <div class="advantages__item">
          <img src="/assets/images/advantages/Vector.svg" class="advantages__icon" alt="">
          <div class="advantages__text">Оперативный подбор кадров, от вахтового персонала, курьеров до топ-менеджеров</div>
        </div>
        <div class="advantages__item">
          <img src="/assets/images/advantages/Vector-1.svg" class="advantages__icon" alt="">
          <div class="advantages__text">Экономия средств и времени компании на содержание кадрового отдела</div>
        </div>
        <div class="advantages__item">
          <img src="/assets/images/advantages/Vector-2.svg" class="advantages__icon" alt="">
          <div class="advantages__text">Замена сотрудника в течение 2-3 недель</div>
        </div>
        <div class="advantages__item">
          <img src="/assets/images/advantages/Vector-3.svg" class="advantages__icon" alt="">
          <div class="advantages__text">Возможность оплаты наличным и безналичным путем</div>
        </div>
        <div class="advantages__item">
          <img src="/assets/images/advantages/Vector-4.svg" class="advantages__icon" alt="">
          <div class="advantages__text">Оплата услуг производится в конце первой недели работы сотрудника</div>
        </div>
        <div class="advantages__item">
          <img src="/assets/images/advantages/Vector-5.svg" class="advantages__icon" alt="">
          <div class="advantages__text">Работа без выходных</div>
        </div>
    </div>
  </div>
</section>
