<section class="clients" id="clients">
  <div class="container">
    <div class="clients__inner">
      <div class="clients__title title">Наши клиенты</div>
      <div class="clients__wrapper">
        <a
          class="clients__wrapper-item"
          href="https://www.ozon.ru/"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="clients__wrapper-img"
            src="./assets/images/clients/logo1.png"
            alt=""
        /></a>
        <a
          class="clients__wrapper-item"
          href="http://www.sberbank.ru/"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="clients__wrapper-img"
            src="./assets/images/clients/logo2.png"
            alt=""
        /></a>
        <a
          class="clients__wrapper-item"
          href="https://www.pik.ru/"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="clients__wrapper-img"
            src="./assets/images/clients/logo3.png"
            alt=""
        /></a>
        <a
          class="clients__wrapper-item"
          href="https://www.perekrestok.ru/"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="clients__wrapper-img"
            src="./assets/images/clients/logo4.png"
            alt=""
        /></a>
      </div>
    </div>
  </div>
</section>
