<footer class="footer" id="footer">
  <div class="footer__content">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__info">
          <div class="footer__title">Адрес:</div>
          <p class="footer__address">
            г. Москва, Ленинский проспект, дом, строение, номер кабинета
          </p>
          <div class="footer__email">
            <i class="icon-mail"></i>
            <a
              class="footer__link footer__link--dark"
              href="mailto:shchuvaevaelina@gmail.com"
              >shchuvaevaelina@gmail.com</a
            >
          </div>
          <form class="subscribe" action="/" method="post">
            <input
              class="subscribe__input"
              type="text"
              type="email"
              name="email"
              placeholder="Укажите почту для рассылки"
            />
            <button class="subscribe__button" type="submit">Отправить</button>
          </form>
        </div>
        <div class="footer__social">
          <ul class="footer__social-list">
            <li>
              <a class="footer__link" href="#">
                <i class="icon-telegram"></i>Telegram
              </a>
            </li>
            <li>
              <a class="footer__link" href="#">
                <i class="icon-whatsapp"></i>WhatsApp
              </a>
            </li>
            <li>
              <a class="footer__link" href="#"> <i class="icon-vk"></i>VK </a>
            </li>
            <li>
              <a class="footer__link" href="#">
                <i class="icon-odnoklassniki"></i>Одноклассники
              </a>
            </li>
          </ul>
        </div>
        <nav class="footer__menu">
          <ul class="footer__menu-list">
            <li>
              <a class="footer__link" href="#" data-scroll="#intro">
                Главная
              </a>
            </li>
            <li>
              <a class="footer__link" href="#" data-scroll="#about">
                О компании
              </a>
            </li>
            <li>
              <a class="footer__link" href="#" data-scroll="#services">
                Услуги
              </a>
            </li>
            <li>
              <a class="footer__link" href="#" data-scroll="#footer">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="footer__copyright">© ООО «МИР» 2023</div>
</footer>
