<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="/#intro" data-scroll="#intro">Главная</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="/#about" data-scroll="#about"
              >О компании</a
            >
          </li>
        </ul>
      </nav>
      <a href="/" class="logo">
        <img src="./assets/images/logo.svg" alt="logo" />
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="/#services" data-scroll="#services"
              >Услуги</a
            >
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="/#footer" data-scroll="#footer"
              >Контакты</a
            >
          </li>
        </ul>
      </nav>
      <button class="nav-toggle" id="nav-toggle" type="button">
        <span class="nav-toggle__item">Меню</span>
      </button>
    </div>
  </div>
</header>
