<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="#" data-scroll="#intro">Главная</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#" data-scroll="#about"
              >О компании</a
            >
          </li>
        </ul>
      </nav>
      <a href="#" class="logo" data-scroll="#intro">
        <img src="./assets/images/logo.svg" alt="logo" />
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="#" data-scroll="#services"
              >Услуги</a
            >
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#" data-scroll="#footer"
              >Контакты</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
