<section class="offer">
  <div class="container">
    <div class="offer__inner">
      <div class="offer__title">
        <div class="offer__title-suptitle">хотите с нами работать?</div>
        <div class="offer__title-subtitle">
          оставте заявку и мы свяжимся с вами!
        </div>
      </div>
      <div class="offer__btn">
        <button
          class="offer__btn-offer"
          onclick="document.getElementById('modalDialog').style.display = 'block';"
        >
          <i class="icon-mail"></i>ваш запрос
        </button>
      </div>
    </div>
  </div>
</section>

<div id="modalDialog" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Оставить заявку</h3>
        <button
          onclick="document.getElementById('modalDialog').style.display = 'none';"
          class="close"
        >
          ×
        </button>
      </div>
      <section class="work">
        <div class="work__container">
          <form class="work__form" action="/" method="post">
            <input
              class="work__form-input"
              type="text"
              name="name"
              placeholder="Ваше имя *"
              required
            />
            <input
              class="work__form-input"
              type="tel"
              name="tel"
              placeholder="Ваш телефон *"
              required
            />
            <textarea
              class="work__form-input work__form-textarea"
              name="text"
              placeholder="Ваши пожелания"
            ></textarea>
            <div class="work__form-input work__form-agreement">
              <input type="checkbox" name="agreement" id="agreement" required />
              <label for="agreement"
                >Я согласен(-на) на обработку
                <a href="#">персональных данных</a></label
              >
            </div>
            <button class="work__form-button" type="submit">Отправить</button>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
