<section class="reviews">
  <div class="container">
    <div class="reviews__title title">Отзывы о работе с нами</div>

    <div data-slider class="reviews__slider">
      <div class="reviews__item">
        <div class="reviews__inner">
          <img src="/assets/images/quotes.png" alt="" class="reviews__quotes" />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов.
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img src="/assets/images/quotes.png" alt="" class="reviews__quotes" />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов.
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img src="/assets/images/quotes.png" alt="" class="reviews__quotes" />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов.
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img src="/assets/images/quotes.png" alt="" class="reviews__quotes" />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов.
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img src="/assets/images/quotes.png" alt="" class="reviews__quotes" />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов.
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img src="/assets/images/quotes.png" alt="" class="reviews__quotes" />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов.
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="section section--gray">
  <div class="container">
      <div class="reviews">=  
          <div data-slider>
              <div>
                  <div class="reviews__item">
                      <img src="/assets/images/avatar.png" alt="" class="reviews__icon reviews__icon--circle">
                      <div class="reviews__text">
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat nihil impedit consectetur.
                      </div>
                      <div class="reviews__author">Jon Doe</div>
                  </div>
              </div>
              <div>
                  <div class="reviews__item">
                      <img src="/assets/images/avatar.png" alt="" class="reviews__icon reviews__icon--circle">
                      <div class="reviews__text">
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat nihil impedit consectetur.
                      </div>
                      <div class="reviews__author">Jon Doe</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>  -->
