<section class="reviews">
  <div class="container">
    <div class="reviews__title title">Отзывы о работе с нами</div>

    <div data-slider class="reviews__slider">
      <div class="reviews__item">
        <div class="reviews__inner">
          <img
            src="./assets/images/quotes.png"
            alt=""
            class="reviews__quotes"
          />
          <p class="reviews__text">
            Обращались к данной компаниии за услугами по предоставлению
            персонала. Срочно требовались сотрудники на наш новый обьект. Свою
            работу они выполнили в четко указанные сроки.
          </p>
        </div>
        <div class="reviews__autor">
          <span class="reviews__span">ООО ИНСАФ</span>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img
            src="./assets/images/quotes.png"
            alt=""
            class="reviews__quotes"
          />
          <p class="reviews__text">
            Команда из высоко квалифицированных людей. Помогли в реализации
            проекта. Быстро нашли нужных сотрудников на сложные позиции,с
            поиском которых у нас была проблема.
          </p>
        </div>
        <div class="reviews__autor">
          <span class="reviews__span">ИП МАШКОВА ИРИНА ВЛАДИМИРОВНА</span>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img
            src="./assets/images/quotes.png"
            alt=""
            class="reviews__quotes"
          />
          <p class="reviews__text">
            Были проблемы в работе проекта - не могли найти нужных сотрудников.
            Пришлось обратиться в сторонние организации. ООО МИР посодействовал
            в решении вопроса и в кратчайшие сроки закрыл горящие позиции.
          </p>
        </div>
        <div class="reviews__autor">
          <span class="reviews__span">СК МЕДКОН СПБ</span>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img
            src="./assets/images/quotes.png"
            alt=""
            class="reviews__quotes"
          />
          <p class="reviews__text">
            Были проблемы в работе проекта - не могли найти нужных сотрудников.
            Пришлось обратиться в сторонние организации. ООО МИР посодействовал
            в решении вопроса и в кратчайшие сроки закрыл горящие позиции.
          </p>
        </div>
        <div class="reviews__autor">
          <span class="reviews__span">СК МЕДКОН СПБ</span>
        </div>
      </div>
    </div>
  </div>
</section>
