<section class="reviews">
  <div class="container">
    <div class="reviews__title title">Отзывы о работе с нами</div>

    <div data-slider class="reviews__slider">
      <div class="reviews__item">
        <div class="reviews__inner">
          <img
            src="./assets/images/quotes.png"
            alt=""
            class="reviews__quotes"
          />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов. Lorem Ipsum - это
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img
            src="./assets/images/quotes.png"
            alt=""
            class="reviews__quotes"
          />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов.
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img
            src="./assets/images/quotes.png"
            alt=""
            class="reviews__quotes"
          />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов. Lorem Ipsum - это
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img
            src="./assets/images/quotes.png"
            alt=""
            class="reviews__quotes"
          />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов.
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img
            src="./assets/images/quotes.png"
            alt=""
            class="reviews__quotes"
          />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов.
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__inner">
          <img
            src="./assets/images/quotes.png"
            alt=""
            class="reviews__quotes"
          />
          <p class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов.
          </p>
        </div>
        <div class="reviews__autor">
          Иван Иванов <br /><span class="reviews__span"
            >ООО “Газпром-Арена”</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
