<section class="services" id="services">
  <div class="container">
    <h2 class="services__title title">Наши услуги</h2>
    <div class="services__inner">
      <div class="services__item">
        <img
          src="/assets/images/services/services_1.png"
          alt=""
          class="services__item-image"
        />
        <h3 class="services__item-title">
          Подборка резюме по формальным требованиям
        </h3>
        <p class="services__item-info">
          Наша команда специалистов тщательно анализирует каждое резюме с
          помощью современных инструментов и методов для подбора наилучших
          кандидатов, соответствующих требованиям вашей компании. Мы соблюдаем
          все формальные требования, связанные с процессом подбора резюме,
          включая критерии, которые определяются заказчиком.
        </p>
        <div class="services__item-link">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="services__item-more"
            >Подробнее</a
          >
        </div>
      </div>
      <div class="services__item">
        <img
          src="/assets/images/services/services_2.png"
          alt=""
          class="services__item-image"
        />
        <h3 class="services__item-title">
          Подбор курьеров (пеший, авто, вело-курьер)
        </h3>
        <p class="services__item-info">
          Аутсорсинг курьеров - это эффективный инструмент, который уже стал
          неотъемлемой частью работы многих крупных предприятий и сетевых
          компаний. Он обеспечивает быстрое и качественное выполнение задач по
          доставке грузов и товаров, позволяет экономить время и ресурсы, а
          также минимизировать риски, связанные с управлением постоянным
          персоналом.
        </p>
        <div class="services__item-link">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="services__item-more"
            >Подробнее</a
          >
        </div>
      </div>
      <div class="services__item">
        <img
          src="/assets/images/services/services_3.png"
          alt=""
          class="services__item-image"
        />
        <h3 class="services__item-title">
          Подбор неквалифицированного персонала
        </h3>
        <p class="services__item-info">
          Мы предлагаем услуги аутсорсинга по подбору неквалифицированного
          персонала на вахтовый метод, включая водителей, официантов, охранников
          и т.д. по всей России. Мы гарантируем быстрый и качественный подбор
          кандидатов и необходимые документы. Кроме того, мы предоставляем
          гибкие условия сотрудничества и быструю замену персонала при
          необходимости.
        </p>
        <div class="services__item-link">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="services__item-more"
            >Подробнее</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
