<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> header }}
    <div class="wrapper">
      <main class="main">
        {{> intro}} {{> body}} {{> about}} {{> clients}} {{> advantages}} {{>
        services}} {{>partners}} {{>reviews}} {{>offer}}
      </main>
    </div>
    {{> footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="assets/js/main.min.js" type="module"></script>
    <script src="//code.jivo.ru/widget/gttjVVJWH7" async></script>
  </body>
</html>
