<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> header }}
    <div class="wrapper">
      <main class="main">
        <section class="more">
          <div class="container" style="padding-top: 130px">
            <h2 class="more__title title">{{title}}</h2>
            <div class="more__inner">
              <p class="about__text">
                {{info}}
              </p>
            </div>
          </div>
        </section>
        {{>offer}}
      </main>
    </div>
    {{> footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="assets/js/main.min.js" type="module"></script>
  </body>
</html>
